* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #d4574a;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 1.4rem;
  width: 100%;
  font-family: 'roboto', serif;
}

.header {
  background-color: #d4574a;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
}

input:focus, select:focus {
  outline:none;
}

.logo {
  font-size: 5.4rem;
  color: white;
  padding-left: 3rem;
}

.nav {
  font-size: 2rem;
  color: white;
  padding-right: 5rem;
}

.nav__links {
  padding: 1rem 2rem;
  border-radius: 10px;
}

.nav__links:hover {
  background: white;
  color: var(--primary);
  transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2);
}

.icon {
  padding: 0 1rem;
}

/* Main Section */

.main {
  max-width: 900px;
  width: 100%;
  margin: 14rem auto;
}

.container {
  width: 100%;
  background: white;
  box-shadow: -2px 3px 5px -1px rgba(115, 102, 115, 0.8);
  padding: 4rem;
}

.container__title {
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #e6a49e;
}

.grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.blue {
  color: #006eaa;
}

.grid-item {
  text-align: center;
  padding: 0.7rem 0;
  text-transform: uppercase;
  border: 1px solid gray;
  border-radius: 4px;
  font-weight: bold;
}

.apply {
  justify-content: flex-end;
  padding: 2rem 1rem;
}

.apply__button {
  padding: 1rem;
  border: none;
  background-color: #006eaa;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 3px 1px 5px 2px rgba(0, 0, 0, 0.5);
}

.apply__button:focus {
  outline: none;
}

.apply__button:active {
  transform: translateY(2px);
}

.detail__list {
  list-style: none;
  justify-content: flex-end;
}

.detail__list li {
  padding: 0 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border-left: 0.9px solid #dedbd8;
}

.about {
  padding: 3rem 0;
}

.details {
  width: 100%;
  margin: 0 auto;
  padding: 4rem 0;
  text-align: center;
  background: #eee;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 10px;
}

.map__direction {
  padding: 4rem 0;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--primary);
}

.map-google {
  width: 100%;
  height: 600px;
}

/* Footer Section */
.footer__main {
  flex-direction: column;
  background-color: black;
  color: white;
}

.list {
  max-width: 1200px;
  width: 100%;
  margin: 4rem auto;
  justify-content: center;
  align-items: center;
}

.list-section {
  justify-content: space-between;
  border-top: 2px solid rgb(90, 85, 85);
  border-bottom: 2px solid rgb(90, 85, 85);
}

.list__items a,
.list__icon a {
  text-decoration: none;
  color: white;
}

.list__items {
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.list__icon {
  text-align: center;
  padding: 2rem;
  background-color: black;
  font-size: 4rem;
  border-radius: 100%;
  border: 2px solid rgb(90, 85, 85);
}

.search__button,
.subscribe__button {
  cursor: pointer;
}

#search:focus,
.search__button:focus,
.benefit__button:focus,
.form__subscribe input {
  outline: none;
}

.footer__flex {
  margin-top: 2rem;
  justify-content: space-around;
}

.footer__flex > * {
  flex: 1;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.common__header {
  padding: 2rem 0;
}

.form__subscribe {
  width: 70%;
}

.form__subscribe input {
  flex: 0 0 70%;
  padding: 1rem 1rem;
  color: white;
  background-color: transparent;
  border: 2px solid rgb(34, 31, 31);
}

.subscribe__button {
  flex: 1;
  border: none;
  color: white;
  background-color: rgb(94, 91, 91);
}

.contact__details {
  padding: 0.5rem 0;
}

.about__details {
  width: 60%;
  text-align: center;
}

.contact a,
.about__details a {
  text-decoration: none;
  color: var(--primary);
}

.footer__copyright {
  padding: 3rem 0;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__container {
  list-style: none;
  font-size: 2rem;
}

.social__container a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.copyright {
  color: white;
  padding: 1rem;
}

.social__icon a:hover,
.list__items a:hover {
  color: var(--primary);
}

@media only screen and (max-width: 1024px) {
  .nav__bar-title {
    display: none;
  }

  .search__options {
    flex-direction: column;
  }

  .list__items {
    padding: 1rem;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 768px) {
  .header,
  .footer__flex,
  .footer__copyright,
  .list {
    flex-direction: column;
  }

  .nav {
    align-self: center;
  }

  .list-section {
    border: none;
    border-top: 1px solid grey;
  }

  .list__icon {
    display: none;
  }

  .list__items {
    border-bottom: 1px solid grey;
  }

  .about {
    padding: 3rem 1rem;
  }
}
