* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #d4574a;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 1.4rem;
  width: 100%;
  font-family: 'roboto', serif;
}

.header {
  background-color: #d4574a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 5.4rem;
  color: white;
  padding-left: 3rem;
}

.nav {
  display: flex;
  font-size: 2rem;
  color: white;
  padding-right: 5rem;
}

.nav__links {
  display: flex;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.nav__links:hover {
  background: white;
  color: var(--primary);
  transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2);
}

.icon {
  padding: 0 1rem;
}

/* Main Section */

.main {
  color: white;
}

.section-search {
  height: 80vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),url('./img/background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.section__container {
  margin-top: 10rem;
  width: 60%;
}

.search__header {
  padding: 1rem 0;
  font-size: 3.5rem;
}

.form__container {
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  padding: 3rem 4rem 5rem;
  border-radius: 10px;
  margin: 3rem 0;
}

.form__container label {
  color: black;
}

.search__container-flex {
  margin-top: 1rem;
  display: flex;
}

#search {
  width: 60%;
  padding: 1rem 1rem;
  transition: all 0.3s ease-in;
  border: none;
}

.title__bold {
  color: var(--primary);
}

#search:focus {
  width: 80%;
}

.search__button {
  padding: 1rem 3rem;
  background-color: var(--primary);
  border: none;
  color: white;
}

.button__container {
  display: flex;
  justify-content: center;
}

.button__how,
.button__how:link,
.button__how:visited {
  background-color: aliceblue;
  padding: 1rem 3rem;
  border-radius: 20px;
  border: none;
  position: relative;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s;
}

.button__how:active,
.button__how:focus {
  outline: none;
}

.button__how:active {
  transform: translateY(2px);
  box-shadow: 4px 10px 7px -5px rgba(0, 0, 0, 0.6);
}

.section-steps {
  width: 80%;
  margin: 4rem auto;
}

.primary {
  background-color: var(--primary);
}

.grey {
  background-color: #98a5a6;
}

.blue {
  background-color: #519bd8;
}

.steps__title {
  padding: 3rem 0;
  color: var(--primary);
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  transition: all 0.3s;
}

.steps__title:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
  padding: 2rem 0;
}

.grid {
  color: black;
  width: 70%;
  margin: 0 auto;
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
}

.grid-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-steps {
  font-size: 6rem;
}

.steps__header {
  font-size: 2rem;
  padding: 1rem 0;
}

.steps__details {
  text-align: center;
}

.section-benefits {
  margin-top: 4rem;
}

.benefit__container {
  color: black;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  height: 30rem;
}

.benefits__img {
  height: 100%;
  border-radius: 100%;
}

.benefit__content {
  padding: 10rem 5rem;
}

.benefit__content > * {
  padding: 1rem 0;
}

.benefit__button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Footer */
.footer__main {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.list {
  max-width: 1200px;
  width: 100%;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-section {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgb(90, 85, 85);
  border-bottom: 2px solid rgb(90, 85, 85);
}

.list__items a,
.list__icon a {
  text-decoration: none;
  color: white;
}

.list__items {
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.list__icon {
  text-align: center;
  padding: 2rem;
  background-color: black;
  font-size: 4rem;
  border-radius: 100%;
  border: 2px solid rgb(90, 85, 85);
}

#search:focus,
.search__button:focus,
.benefit__button:focus,
.form__subscribe input {
  outline: none;
}

.footer__flex {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.footer__flex > * {
  flex: 1;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.common__header {
  padding: 2rem 0;
}

.form__subscribe {
  width: 70%;
  display: flex;
}

.form__subscribe input {
  flex: 0 0 70%;
  padding: 1rem 1rem;
  color: white;
  background-color: transparent;
  border: 2px solid rgb(34, 31, 31);
}

.subscribe__button {
  flex: 1;
  border: none;
  color: white;
  background-color: rgb(94, 91, 91);
}

.contact__details {
  padding: 0.5rem 0;
}

.about__details {
  width: 60%;
  text-align: center;
}

.contact a,
.about__details a {
  text-decoration: none;
  color: var(--primary);
}

.footer__copyright {
  padding: 3rem 0;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__container {
  list-style: none;
  display: flex;
  font-size: 2rem;
}

.social__container a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.copyright {
  color: white;
  padding: 1rem;
}

.social__icon a:hover,
.list__items a:hover {
  color: var(--primary);
}

@media only screen and (max-width: 1024px) {
  .nav__bar-title {
    display: none;
  }

  .search__button {
    background-color: #006eaa;
  }

  .search__button,
  .form__container label,
  .button__how {
    font-size: 20px;
  }

  .section-steps {
    width: 100%;
    margin: 0;
  }

  .steps__title {
    font-size: 30px;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .grid {
    width: 100%;
  }

  .list__items {
    padding: 1rem;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .nav {
    align-self: center;
  }

  .search__header {
    font-size: 3rem;
    text-align: center;
    padding: 0.3rem 0;
  }

  .section__container {
    width: 95%;
  }

  .form__container {
    margin-top: 0;
    padding: 1rem;
  }

  .search__container-flex {
    flex-direction: column;
  }

  #search {
    width: 100%;
  }

  #search:focus {
    width: 100%;
  }

  .footer__flex {
    flex-direction: column;
  }

  .footer__copyright {
    flex-direction: column;
  }

  .list {
    flex-direction: column;
  }

  .list-section {
    border: none;
    border-top: 1px solid grey;
  }

  .list__icon {
    display: none;
  }

  .list__items {
    border-bottom: 1px solid grey;
  }
}
