* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #d4574a;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  width: 98vw;
  font-family: 'roboto', serif;
}

.header {
  background-color: #d4574a;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 5.4rem;
  color: white;
  padding-left: 3rem;
}

.nav {
  display: flex;
  font-size: 2rem;
  color: white;
  padding-right: 5rem;
}
.nav__bar {
  display: flex;
  padding: 0 2rem;
}

.icon {
  padding: 0 1rem;
}

.main {
  color: white;
}
.section-search {
  height: 70vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url('./img/background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.section__container {
  margin-top: 12rem;
  width: 60%;
}
.search__header {
  padding: 2rem 0;
  font-size: 4rem;
}

.form__container {
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  padding: 3rem 4rem 5rem;
  border-radius: 10px;
  margin: 3rem;
}
.form__container label {
  color: black;
}
.search__container-flex {
  margin-top: 1rem;
  display: flex;
}
#search {
  width: 70%;
  padding: 1rem 0;
}
.search__button {
  padding: 1rem 3rem;
  background-color: var(--primary);
  border: none;
  color: white;
}
.button__container {
  display: flex;
  justify-content: center;
}

.button__how {
  background-color: aliceblue;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.section-steps {
  margin-top: 4rem;

  width: 80%;
  margin: 0 auto;
}
.primary {
  background-color: var(--primary);
}
.grey {
  background-color: grey;
}
.blue {
  background-color: aliceblue;
}

.steps__title {
  padding: 3rem 0;
  color: var(--primary);
  text-transform: uppercase;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

  height: 90vh;
  padding: 2rem 0;
}

.grid {
  color: black;
  width: 70%;
  margin: 0 auto;
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
}
.grid-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-steps {
  font-size: 6rem;
}
.steps__header {
  font-size: 2rem;
  padding: 1rem 0;
}
.steps__details {
  text-align: center;
}

.section-benefits {
  margin-top: 4rem;
}

.benefit__container {
  color: black;
  display: flex;

  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  height: 30rem;
}
.benefits__img {
  height: 100%;
  border-radius: 100%;
}
.benefit__content {
  padding: 10rem 5rem;
}
.benefit__content > * {
  padding: 1rem 0;
}

.benefit__button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
}

/* Footer */
.footer__main {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.list {
  list-style: none;
  margin: 0 auto;
  display: flex;
  margin-top: 2rem;
  padding: 2rem 3rem;
  height: 10rem;
}
.list__items a,
.list__icon a {
  text-decoration: none;
  color: white;
}

.list__items {
  padding: 1rem 4rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  border-top: 2px solid rgb(90, 85, 85);
  border-bottom: 2px solid rgb(90, 85, 85);
}
.list__icon {
  /* margin: 3rem 0rem; */
  text-align: center;
  height: 10rem;
  width: 12rem;
  margin-top: -2rem;
  position: relative;
  font-size: 4rem;
  /* margin-bottom: 5rem; */
  border-radius: 100%;
  border: 2px solid rgb(90, 85, 85);
}
.list__icon a {
  position: absolute;
  top: 25%;
  left: 35%;
}

.footer__flex {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}
.footer__flex > * {
  flex: 1;
  margin: 3rem 0rem;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.common__header {
  padding: 2rem 0;
}

.form__subscribe {
  width: 70%;
  display: flex;
}
.form__subscribe input {
  flex: 0 0 70%;
  padding: 1rem 0;
  background-color: rgb(34, 31, 31);
  border: none;
}

.subscribe__button {
  flex: 1;
  border: none;
  background-color: rgb(94, 91, 91);
}
.contact__details {
  padding: 0.5rem 0;
}

.about__details {
  width: 60%;
  text-align: center;
}
.contact a,
.about__details a {
  text-decoration: none;
  color: var(--primary);
}

.footer__copyright {
  height: 10rem;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__container {
  list-style: none;
  display: flex;
  font-size: 2rem;
}
.social__container a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.copyright {
  color: white;
  padding: 1rem;
}
